@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: #ffff;
  --primary-color: #291FB3;
  --secondary-color: #3D6BDC;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:  var(--white-color) var(--primary-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-thumb{
  border-radius: 8px !important;
  background-color: var(--secondary-color);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: var(--white-color);
}
.ReactCollapse--collapse {
  transition: height 500ms;
}
